<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 驼峰命名转换 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 打印日志 -->
        <setting name="logImpl" value="LOG4J" />   
	</settings>
	<plugins>
	<!-- 分页插件 -->
    <plugin interceptor="com.github.pagehelper.PageInterceptor">
    	<!-- 对于错误参数的处理 -->
        <property name="reasonable" value="true"/>
        <!--  offset 参数当成 pageNum 使用 -->
        <property name="offsetAsPageNum" value="true"/>
	</plugin>
</plugins>
</configuration>