<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.three.zteoa.mapper.BoardroomApplyMapper">
	
	<!-- 增加会议室申请 -->
	<insert id="addBoardroomApply" parameterType="BoardroomApply">
		insert into zteoa_boardroom_apply(start,end,eid,is_agree,create_time)
		values(#{start},#{end},#{eid},#{is_agree},#{create_time})
	</insert>
	
	<!-- 删除会议室申请 -->
	<delete id="deleteBoardroomApply" parameterType="int">
		delete from zteoa_boardroom_apply where id=#{id}
	</delete>
	
	<!-- 修改会议室申请 -->
	<update id="modifyBoardroomApply" parameterType="BoardroomApply">
		update zteoa_boardroom
		<trim suffix="where id = #{id}" prefix="set" prefixOverrides="" suffixOverrides=",">
			<if test="start!=null">start = #{start},</if>
			<if test="end!=null">end = #{end},</if>
			<if test="is_agree!=null">is_agree = #{is_agree},</if>
			<if test="modify_time!=null">modify_time = #{modify_time},</if>
		</trim>
	</update>

	<!-- 查询会议室申请列表 -->
	<select id="getBorardroomApplyList" resultType="BoardroomApply">
		select * from zteoa_boardroom_apply
		<trim prefix="where" prefixOverrides="and | or">
			<if test="start != '' and start != null">
				and start LIKE CONCAT ('%',#{start},'%')
			</if>
			<if test="end !='' and end != null">
				and end = #{end}	
			</if>
			order by create_time DESC limit #{currentPageNo},#{pageSize}
		</trim>
	</select>
	
	<!-- 根据id查询会议室申请 -->
	<select id="getBoardroomApplyById" parameterType="int" resultType="BoardroomApply">
		select * from zteoa_boardroom_apply
		<trim prefix="where" prefixOverrides="and | or">
			<if test="id != null">
				id = #{id}
			</if>
		</trim>		
	</select>
		
	<!-- 会议室的总数量 -->
	<select id="getBorardroomApplyCount" resultType="int">
		select count(1) as count from zteoa_boardroom_apply
		<trim prefix="where" prefixOverrides="and | or">
			<if test="start !='' and start != null">
				and name LIKE CONCAT ('%',#{start},'%')
			</if>
			<if test="end !='' and end != null">
				and end = #{end}	
			</if>
		</trim>		 
	</select>
	
	
</mapper>