<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.three.zteoa.mapper.ProductCategoryMapper">	
	<!--查看商品类别表  -->
	<select id="getProductCategory" resultType="ProductCategory">
		select * from zteoa_product_category where 1=1
		<if test="category!=null and category!=''">and category LIKE #{category}</if>
		Order by create_time DESC limit #{currPage},#{pageSize}
	</select>
	
	<select id="queryAll" resultType="ProductCategory">
		SELECT * FROM zteoa_product_category;
	</select>

	<!--添加商品类别 -->
	<insert id="addProductCategory" parameterType="ProductCategory">
		insert into
		zteoa_product_category(category,create_time,modify_time)
		values(#{category},#{createTime},#{modifyTime})
	</insert>

	<!-- 修改商品类别 -->
	<update id="modifyProductCategory"
		parameterType="ProductCategory">
		update zteoa_product_category
		<trim prefix="set" suffix="where id=#{id}" suffixOverrides=",">
			<if test="category!=null and category!=''">category=#{category},</if>
			<if test="modifyTime!=null">modify_time=#{modifyTime},</if>
		</trim>
	</update>

	<!--删除商品类别 -->
	<delete id="deleteProductCategory" parameterType="int">
		delete from
		zteoa_product_category where id=#{id}
	</delete>
	
	<select id="getProductById" resultType="Product">
		select * from zteoa_product p
		<where>
			<if test="id!=null">and category_id=#{id}</if>
		</where>
	</select>

	<!-- 统计商品类别数量 -->
	<select id="getCount" resultType="int">
		select count(1) from
		zteoa_product_category where 1=1
		<if test="category!=null and category!=''">and category=#{category}</if>
	</select>
	
	<select id="queryByName" resultType="int">
		SELECT COUNT(*) FROM zteoa_product_category
		WHERE
		category = #{category}
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) FROM zteoa_product_category
		<where>
			<if test="category != null and category != ''">
				category LIKE CONCAT('%',#{category},'%')
			</if>
		</where>
	</select>
</mapper>